@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our site</h1>
    <br>

    <p>
        Did you always want to try out <b>Via Ferrata</b> or <b>Climbing</b>?<br />
        Here we have the solution: you can book an exciting <b>private tour</b> with our guides to discover the wonderful routes we have planned!
    </p>
    <a class="btn btn-primary" asp-page="/Reservations">Book an experience</a>
    <br>
    <br/>
    <p>
        Or if you are more advanced, you can just rent some <b>equipment</b> for Via Ferrata or Climbing.<br />
        Get ready for an adventure!
    </p>
    <a class="btn btn-primary" asp-page="/Rent_equipment">Rent equipment</a>
    <br>

</div>
